table {
    border-spacing: 5px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
}

th,
td {
    border: 3px solid black;
    /* border-collapse: collapse; */
    padding: 15px;
}