<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Technical Geeks">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGeeks | Attendance System</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!--Bootstrap File Link-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--CSS File Link-->
    <link rel="stylesheet" href="../static/css/addstudent.css">
    <link rel="stylesheet" href="../static/css/Admin.css">

    <!-- Awesome Fonts Link to StyleSheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <header>
        <a href="template.html" class="Institution_logo">
            <img src="../static/images/logo.jpg" alt="PCCoE" class="logo">
        </a>
        <h1>PIMPRI CHINCHWAD COLLEGE OF ENGINEERING</h1>

    </header>
    <main>
        <div class="container">
			<h1 class="h1 text-center"> Welcome To Attendance Management System </h1>
			<div align="center">
				<div class="card containerq">
				<div class="card-body">
					<h5 class="card-title">Add Student in Database</h5>
					<p class="card-text"> This will add the student in their respective class </p>
					<a href="addstudent.html" target="_blank" class="btn btn-primary">Add Student</a>
				</div>
				</div>
				<div class="card containerq">
				<div class="card-body">
					<h5 class="card-title">Mark Attendance</h5>
					<p class="card-text">This will allow you to update the attendance on regular basis</p>
					<a href="addstudent.html" class="btn btn-primary">Update Attenddance</a>
				</div>
				</div>
				<div class="card containerq">
					<div class="card-body">
					  <h5 class="card-title">Search Student</h5>
					  <p class="card-text">This will allow you to search specific information or attendance of particular student</p>
					  <a href="addstudent.html" target="_blank" class="btn btn-primary">Search Student</a>
					</div>
				</div>
				<div class="card containerq">
				<div class="card-body">
					<h5 class="card-title">Defaulter Student</h5>
					<p class="card-text">This will show you the list of defaulter students according to your requirements</p>
					<a href="addstudent.html" class="btn btn-primary">Defaulter Student</a>
				</div>
				</div>
			</div>
	    </div>
    </main>
    <footer class="footer">
        <div class="copyright">
            <a href="LICENSE" target="_blank">
                &copy; 2020 technicalgeeks
            </a>
        </div>
        <div class="footer-links">
            <a href="https://facebook.com/" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:technicalgeeks20@gmail.com" target="_blank" style="text-decoration: none">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </footer>

    <script src="../static/javascript/index.js"></script>
</body>

</html>